body{
    text-align: center;
 color:#40514E;
 line-height: 1.5;
}
h1{
    font-size: 60px;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
   
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    padding-bottom: 10px;
}
.top-container{
    background-color:#EAF6F6 ;
    position:relative;
    padding-top:100px;
}
.top-container h2{
    font-weight: normal;
    padding-bottom: 10px;
}
.top-container h1{
    line-height: 2;
}
.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    bottom:300px;
    left:300px;
}
.skills{
    margin-left: 150px;
    font-weight: normal;
    
}
.java,.python{
    width:60%;
    height:auto;
}
.skill2{
    margin-top: 10px;
}
.skill1{
    margin-top: 25px;
}
.web,.sql{
    width:60%;
    height:auto;
}
.skills{
 margin-left: 560px;
}
.skills h3{
    color: #11999E;
}
.bottom-container{
    background-color: #66BFBF;
   padding:50px 0 20px;
}
.footer-link{
    margin-left: 40px;
    text-decoration: none;
    color:#11999E;
}
.bottom-container p{
    color:#EAF6F6;
    margin-left: 30px;
    font-size: 11px;
    padding:20px 0;
}
a{
    color:#11999E;
 
}
.projects{
    margin:100px auto 100px auto;
}
.allinonefoodapp{
    width:25%;
    height:20%;
    float: left;
    margin-right: 30px;
}
.projects{
    margin:50px auto 100px auto;
    text-align: left;
    width:50%;
    line-height: 2;
}

a:hover{
    color:pink ;
}
hr{
    width:4%;
    border-style: dotted none none;
    border-width: 5px;
     color:#808080;
     margin:80px auto;
}
.middle-container{
    margin:100px 0;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
    -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
    box-shadow: 1px 1px 20px 0 #FFFFFF;
    text-shadow: 1px 1px 20px #FFFFFF;
    border: solid #69A0EF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 